@font-face {
  font-family: Charles Wright-Bold;
  src: url(./charles-wright/CharlesWright-Bold.otf);
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background-image: url(assets/Homepage-DESK\ TOP-TEST.jpeg);
  background-position-x: center;
  background-position-y: -300px;
}

@media (max-width: 768px) {
  body {
    background-image: url(./assets/Homepage-Model-X-Mobile-LHD_001.png);
    background-position-y: -213px;
    background-position-x: -32px;
  }
}

.container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px #929292;
}

h1,
h2 {
  text-align: center;
  color: #000000;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input {
  width: 95%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#reg {
  font-family: "UKNumberPlate", Arial, sans-serif !important;
  width: 30%;
  padding: 1px;
  background: #ffe20a;
  border: 3px solid #000000;
  word-spacing: -3px;
  letter-spacing: 0;
  text-transform: uppercase;
  font-size: 3rem;
  color: #000 !important;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: center;
  border: solid;
  border-width: ;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}

#loading {
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
}

#generatedLink a {
  color: #007bff;
  text-decoration: none;
}

#generatedLink a:hover {
  text-decoration: underline;
}
